<p style="color: green"><%= notice %></p>


<div>
  <h2> <%= @brewery.name %> </h2>
  <p> Established in: <%= @brewery.year %> </p>

  <p> Beers count: <%= @brewery.beers.count %> </p>

  <p>
    <% @brewery.beers.each do |beer| %>
    <%= link_to "#{beer.name}", beer %>
    <% end %>
  </p>

  <% if @brewery.ratings.empty? %>
    <p> beer has not yet been rated </p>
  <% else %>
    <p>Brewery has <%= pluralize(@brewery.ratings.count, "rating") %> 
    with an average of <%= @brewery.average_rating %></p>
  <% end %>


  <%= link_to "Edit this brewery", edit_brewery_path(@brewery) %> |
  <%= link_to "Back to breweries", breweries_path %>

  <%= button_to "Destroy this brewery", @brewery, form: { data: { turbo_confirm: "Are you sure ? "} }, method: :delete %>
</div>
